html, body {
  height: 100%;
  width: 100%;
  background-color: #f2f3e5;
}

body {
  display: table;
}

.brd{
    position: relative;
    margin: 10px;
    min-height: calc(100vh - 20px);
    border-color: #a01b35;
    background-color: #f2f3e5;
    border-width: thick;
    border-style: solid;
    height: 100%;
}

.pos1:hover,.pos2:hover{
  box-shadow: 0 8px 16px 0 #ffd700;
}

@media only screen and (min-width: 200px) and (max-width: 990px) {
  .title{
    color: #a01b35;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

    .pos1{
      position: absolute;
      left: 5%;
      top:10%;
      width: 90%;
      height: 40%;
    }

    .pos2{
      position: absolute;
      left: 5%;
      top: 55%;
      width: 90%;
      height: 40%;
    }
}

@media only screen and (min-width: 992px) {
  .title{
    color: #a01b35;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 20px;
  }

  .pos1{
    position: absolute;
    left: 10%;
    top: 25%;
    width: 35%;
    height: 50%;
  }

  .pos2{
    position: absolute;
    left: 55%;
    top: 25%;
    width: 35%;
    height: 50%;
  }
}
